    <%= form_with model: @contact do|f| %>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputfirstname4">First name</label>
          <%= f.text_field :first_name, autofocus: true, autocomplete: 'first_name', class: 'form-control', placeholder: "First name" %>
        </div>
        <div class="form-group col-md-6">
          <label for="inputlastname4">Last name</label>
          <%= f.text_field :last_name, autocomplete: 'last_name', class: 'form-control', placeholder: "Last name" %>
        </div>
        <div class="form-group col-md-12">
          <label for="inputEmail4">Email</label>
          <%= f.email_field :email, autocomplete: 'email', class: 'form-control', placeholder: "Email" %>
        </div>
      </div>
      <%= f.fields_for :addresses do |addresses_form| %>
        <div class="form-group">
          <label for="inputAddress">Address</label>
          <%= f.text_field :address, autocomplete: 'address', class: 'form-control', placeholder: "1221 Your St" %>
        </div>
        <div class="form-group">
          <label for="inputAddress2">Address 2</label>
          <%= f.text_field :address, class: 'form-control', placeholder: "Apt, Studio, or Floor" %>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>Alabama</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
        </div>
      <% end %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.submit 'Create Contact', class: "btn btn-secondary" %>
    <% end %>